<div class="container pt-10 pb-10 notfound">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <img src="./assets/img/not-found.png" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <h3 class="font-weight-bold">
        404 - Página Não Encontrada
      </h3>
      <h5>
        Não conseguimos encontrar a página que você estava procurando.
      </h5>
      <div>
        <br />
        <a class="btn btn-lg btn-dark" href="javascript:window.history.back();">
          <i class="fa fa-home"></i> Visitar Página Principal
        </a>
      </div>
    </div>
  </div>
</div>
